name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # ---------- BACKEND ----------
    - name: Build backend image
      run: |
        docker build -f backend/Dockerfile -t tanuhya/news-backend:latest backend

    - name: Push backend image
      run: |
        docker push tanuhya/news-backend:latest

    # ---------- FRONTEND ----------
    - name: Build frontend image
      run: |
        docker build -f frontend/Dockerfile -t tanuhya/news-frontend:latest frontend

    - name: Push frontend image
      run: |
        docker push tanuhya/news-frontend:latest
